# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Output
outputs/

# Logs
*.log

# Temporary
*.tmp